{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1>Profile</h1></br>

<div class="card">
  <div class="card-header">
<!--    {{ current_user.username}}-->
  </div>
  <p class="card-text">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <strong>Username:</strong>
          {{ current_user.username}}</br>

          <strong>Name:</strong>
          {{ current_user.name}}</br>

          <strong>Email:</strong>
          {{ current_user.email}}</br>

          <strong>Phone:</strong>
          {{ current_user.phone}}</br>

          <strong>Address:</strong>
          {{ current_user.address}}</br>

          <strong>Profile pic:</strong>
          {{ current_user.profile_pic}}</p>

          <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>
        </div>
        <div class="col-4">
            {% if current_user.profile_pic %}
              <img src="{{url_for('static',filename='images/' + current_user.profile_pic)}}" align="right" height="150" width="150">
            {% else %}
              <img src="{{url_for('static',filename='images/avatar.png')}}" align="right" height="150" width="150">
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</br>

<div class="card">
  <div class="card-header">
    Update Profile
  </div>
  <p class="card-text">
  <div class="card-body">
        <form action="/dashboard" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            {{ form.username(class="form-control", value=name_to_update.username) }} </br>
            {{ form.name.label }}
            {{ form.name(class="form-control", value=name_to_update.name) }} </br>
            {{ form.email.label }}
            {{ form.email(class="form-control", value=name_to_update.email) }}</br>
            {{ form.phone.label }}
            {{ form.phone(class="form-control", value=name_to_update.phone) }}</br>
            {{ form.address.label }}
            {{ form.address(class="form-control", value=name_to_update.address) }}</br>
            {{ form.profile_pic.label }}
            {{ form.profile_pic(class="form-control", value=name_to_update.profile_pic) }}
            </br>
            {{ form.submit(class="btn btn-secondary btn-sm") }}
        </form>

  </div>
</div>
</br></br></br>
{% endblock %}


